.contentContainer {
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #1f1f1f;
  padding: 20px 20px 20px 20px;
  margin-bottom: 10px;
}

.pFilters {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-bottom: 8px;
}

.form {
  margin-bottom: 20px;
}

.label {
  position: absolute;
  left: 14px;
  top: 40%;
  transform: translateY(-40%);
  cursor: pointer;

  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #686868;
}

.inputWrapper {
  position: relative;
  width: 295px;
}

.input {
  cursor: pointer;
  border: none;
  border-radius: 12px;
  width: 295px;
  height: 44px;
  background-color: #262626;
  color: #f9f9f9;
  margin-bottom: 8px;
}

.input::placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;

  color: #f9f9f9;
}

.bookTitle {
  padding-left: 77px;
}

.author {
  padding-left: 85px;
}

.numberOfPages {
  padding-left: 119px;
}

.toApplyBtn {
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  width: 98px;
  height: 38px;
  background-color: transparent;
  margin-top: 12px;

  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
}

.toApplyBtn:hover {
  background-color: #f9f9f9;
  color: #1f1f1f;
}

.p1 {
  max-width: 180px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #686868;
}

.libraryDiv {
  display: flex;
  justify-content: space-between;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
}

.arrowBtn {
  border: none;
  background-color: transparent;
}

.svg {
  width: 24px;
  height: 24px;
}

.recomendedContainer {
  padding: 20px;
  width: 295px;
  border-radius: 12px;
  background-color: #262626;
}

.sliderContainer {
  margin-bottom: 17px;
}

.h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #e3e3e3;
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .myLibraryBoardContainer {
    display: flex;
    gap: 52px;
  }
  .pFilters {
    font-size: 14px;
    line-height: 129%;
  }

  .form {
    margin-bottom: 0;
  }

  .label {
    font-size: 14px;
    line-height: 129%;
  }

  .input {
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 57px;
  }

  .input::placeholder {
    font-size: 14px;
    line-height: 129%;
  }

  .bookTitle {
    padding-left: 86px;
  }

  .author {
    padding-left: 95px;
  }

  .numberOfPages {
    padding-left: 135px;
  }

  .toApplyBtn {
    width: 131px;
    height: 42px;

    font-size: 16px;
    line-height: 112%;
  }

  .recomendedContainer {
    padding: 26px;
    width: 313px;
  }

  .sliderContainer {
    margin-bottom: 20px;
  }

  .h2 {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .myLibraryBoardContainer {
    display: flex;
    gap: 98px;
    flex-direction: column;
    width: 353px;
  }
}
