/* .container {
  margin: 0 auto;
  margin-left: 0;
  width: 200px;
  background-color: #141414;
} */

.contentContainer {
  box-sizing: border-box;
  width: 335px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #1f1f1f;
  padding: 20px 20px 20px 20px;
  margin-bottom: 10px;
}

.pPage {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-bottom: 8px;
}

.form {
  margin-bottom: 40px;
}

.label {
  position: absolute;
  left: 14px;
  top: 40%;
  transform: translateY(-40%);
  cursor: pointer;

  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #686868;
}

.inputWrapper {
  position: relative;
  width: 295px;
}

.input {
  cursor: pointer;
  border: none;
  border-radius: 12px;
  width: 295px;
  height: 44px;
  background-color: #262626;
  color: #f9f9f9;
  margin-bottom: 8px;
}

.input::placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;

  color: #f9f9f9;
}

.pageNumber {
  padding-left: 99px;
}

.toApplyBtn {
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  width: 98px;
  height: 38px;
  background-color: transparent;
  margin-top: 12px;

  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
}

.toApplyBtn:hover {
  background-color: #f9f9f9;
  color: #1f1f1f;
}

.p1 {
  max-width: 180px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #686868;
}

.errorSpan {
  color: red;
}

.pStatistics {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-bottom: 20px;
}

.statisticsDiv {
  margin: 0 auto;
  padding-top: 20px;
  border-radius: 12px;
  width: 295px;
  height: 211px;
  background-color: #262626;
}

.circleDiv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 116px;
  height: 116px;
  margin-bottom: 21px;
}

.percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}

.percentPages {
  display: flex;
  align-items: flex-start;

  margin: 0 auto;
  width: 100px;
  height: 34px;
}

.greenSquare {
  border-radius: 4px;
  width: 14px;
  height: 14px;
  background-color: #30b94d;
  margin-right: 15px;
}

.pagesRead {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.pPercent {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}

.pPages {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #686868;
}
