/* .container {
  width: 375px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #141414;
} */
/* .contentContainer {
  border-radius: 30px;
  margin: 0 auto;
  width: 335px;
  background-color: #1f1f1f;
} */
